<nav class="navbar header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Contacts</a>
    </div>
    <ul class="nav navbar-nav">
      <li [ngClass]="{ displayAdd: addOrEdit == 'Edit Contact' }">
        <a routerLink="/add-contact" routerLinkActive="active" class="active">{{
          addOrEdit
        }}</a>
      </li>
      <li>
        <a
          routerLink="/add-contact"
          routerLinkActive="active"
          *ngIf="addOrEdit == 'Edit Contact'"
          class="active"
          >{{ addOrEdit }}</a
        >
      </li>
      <li>
        <a routerLink="/contact-list" routerLinkActive="active">Contact List</a>
      </li>
    </ul>
  </div>
</nav>
