.header .navbar-brand {
  color: white;
  font-size: 19px;
  font-weight: 600;
}

.header.navbar {
  background-color: #017cad;
}

.header .nav > li {
  width: 120px;
}

.header .nav > li > a {
  color: white;
}

.displayAdd {
  display: none;
}

.header .nav > li > a:focus,
.header .nav > li > a:hover {
  color: #017cad;
  font-weight: 600;
}

.header .nav > li > a.active {
  text-decoration: none;
  background-color: #eee;
  color: #017cad;
  font-weight: 600;
}
